.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  min-height: 60px;
  background-color: rgba(256, 256, 256, 0.9);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 24px 40px;

  h1 {
    font-size: 24px;
    font-weight: 500;
  }
}

.navItems {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  cursor: pointer;
}
.cart {
  position: relative;
  width: 28px;
  height: 28px;
}
.badge {
  position: absolute;
  bottom: 25px;
  right: 37px;
  background-color: rgb(235, 42, 42);
  color: white;
  border-radius: 50%;
  font-size: 12px;
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logins {
  display: flex;
  align-items: center;
  gap: 12px;
}
