.detailContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
  padding: 0 20px;

  .itemDetail {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    margin-top: 20px;

    .itemImage {
      width: 40%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .album {
        display: flex;
        gap: 8px;

        img {
          width: 150px;
          height: 150px;
          border: 1px solid transparent;
          transition: scale, border 0.5s ease;
          border-radius: 8px;
        }
        img:hover {
          border: 1px solid gray;
          scale: 1.1;
          cursor: pointer;
        }
      }
    }

    .itemInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 40%;

      h1 {
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 8px;
      }
      .rating {
        font-weight: 500;
        margin-bottom: 8px;
      }
      .price {
        color: #000 !important;
        font-size: 16px !important;
        font-weight: 500;
        margin-bottom: 10px;
      }
      p {
        color: #696666;
        font-size: 12px;
      }
      .description {
        padding: 16px 0;
        border-top: 1px solid #d6d4d4;
        border-bottom: 1px solid #d6d4d4;
      }
    }
  }
  .reviw {
    background-color: #fff;
    border-radius: 8px;
    width: 100%;
    margin: 0 20px;
    padding: 40px;

    .reviewBox {
      padding: 20px 0;
      border-bottom: 1px solid gray;
    }
  }
  .mainImg {
    width: 100%;
    height: 100%;
  }
  .addCart {
    margin-top: 20px;
    background-color: #1e1e1e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 50px;
    border-radius: 8px;
  }
}
